<ion-view>
  <ion-content class="has-header" ng-controller="TeamsCtrl as vm">
    <div class="list">
      <div ng-repeat="team in vm.teams">

        <div class="item item-divider item-energized">
          {{team.divisionName || 'Unknown'}}
        </div>

        <a class="item item-icon-right" ui-sref="app.team-detail({id:division.id})" ng-repeat="division in team.divisionTeams">
          {{division.name}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

      </div>
    </div>

  </ion-content>
</ion-view>
